---
import Icon from './Icon.astro';
---

<section class="box skills">
As a freelance web developer with a proven track record, I offer reliable support to help you deliver exceptional results.
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Seamless Collaboration:</h2>
		<p>I understand agency workflows and seamlessly integrate into your existing processes. I'm comfortable working independently or as part of your team.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Versatile Technical Skills</h2>
		<p>My technical expertise spans modern web development tools like static site generators, WordPress customization, and the Adobe Creative Suite. I'm ready to hit the ground running with your preferred tech stack</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Performance Optimization</h2>
		<p>I ensure that every website I touch is not just functional, but also fast, efficient, and optimized for search engines. I'll help you meet and exceed Core Web Vitals standards.
Accessibility Advocate: I prioritize inclusive design, ensuring that your websites are accessible to all users, regardless of their abilities.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Accessibility Advocate</h2>
		<p>I prioritize inclusive design, ensuring that your websites are accessible to all users, regardless of their abilities</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Transparent Communication</h2>
		<p>I believe in open and honest communication. You'll receive regular updates and clear explanations throughout the project lifecycle.</p>
	</div>

	<p>When you're faced with tight deadlines or unexpected spikes in workload, I'm here to help you maintain your agency's reputation for excellence.  I'm committed to delivering high-quality work on time and within budget.</p>

	<p>Contact me today to discuss your agency's needs and explore how I can become a valuable asset to your team.</p>
</section>






<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
