---
import Accordion from "./Accordion.astro";
---

<section class="infoBox">
  <p class="random-desc">
    As a freelance web developer with a proven track record, I offer reliable
    support to help you deliver exceptional results.
  </p>
  <Accordion
    accordionTitle="A Part of Your Team"
    accordionDetails="I understand agency workflows and seamlessly integrate into your existing processes. I'm comfortable working independently or as part of your team."
  />

  <Accordion
    accordionTitle="Versatile Technical Skills"
    accordionDetails="My technical expertise spans modern web development tools like JS Frameworks, static site generators, WordPress customization, and the Adobe Creative Suite. I'm ready to hit the ground running with your preferred tech stack."
  />

  <Accordion
    accordionTitle="Performance Optimization"
    accordionDetails="I ensure that every website I touch is not just functional, but also fast, efficient, and optimized for search engines. I'll help you meet and exceed Core Web Vitals standards."
  />

  <Accordion
    accordionTitle="Accessibility Advocate"
    accordionDetails="I prioritize inclusive design, ensuring that your websites are accessible to all users, regardless of their abilities."
  />

  <Accordion
    accordionTitle="Transparent Communication"
    accordionDetails="I believe in open and honest communication. You'll receive regular updates and clear explanations throughout the project lifecycle."
  />

  <p class="random-desc">
    When you're faced with tight deadlines or unexpected spikes in workload, I'm
    here to help you maintain your agency's reputation for excellence. I'm
    committed to delivering high-quality work on time and within budget.
  </p>

  <p class="random-desc">
    Contact me today to discuss your agency's needs and explore how I can become
    a valuable asset to your team.
  </p>
</section>

<style>
  .random-desc {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
</style>

<script></script>
