---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Ian LP" description="About Ian LP">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About Me" />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content content--bio">
          <p>
            Ian Perincek is a multifaceted digital media expert bringing
            expertise in front-end development, website strategy and auditing.
            Adept at creating efficient work pipelines and delivering engaging
            user experiences. Thrive in both independent and collaborative
            environments, with a strong focus on staying ahead of industry
            trends and technologies.
          </p>
          <p>
            <strong>QLP QualityLogoProducts.com</strong> ( December 2016 – June 2024
            ) Senior Frontend Developer
          </p>
          <p>
            <strong>Elevate elevatestudios.com</strong> ( February 2012 – September
            ) 2016 Interactive Developer
          </p>
          <p>
            <strong>Asur Media</strong> – ( January 2010 – February 2012 ) Freelance
            Web Designer
          </p>
          <p>
            <strong>MG Studios</strong> – ( March 2004 – July 2010 ) Interactive
            Director
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Full Sail University</p>
          <p>BA in Digital Media</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            This portfolio is written in TypeScript <br />
            HTML5 / CSS3, JavaScript/Vue, GIT, Sass, CRO, Adobe Creative Suite, Accessibility
            standards, Google: Optimize, Analytics and CWV, Screaming Frog, MOZ,
            Wordpress + other CMS's.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .content--bio p {
    margin-bottom: 1rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
